* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --grey: #E6E6E6;
    --titleColor: #4A23DD;
    --mainTextColor: #000000;
    --bigText: 1.5em;
}

.App {
    /*background-color: red;*/
    /*border:2px solid red;*/
    background-color: var(--grey);
    /*height: 100vh;*/
}

header {
    /*background-image: url("/public/images/header_bg.jpeg");*/
    /*height: 500px;*/
    background-color: var(--titleColor);
    /*border: 6px solid red;*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 10px 40px;
}

header img {
    border-radius: 50%;
    margin-right: 20px;
    width: 10%;
}

header .profile_infos p {
    color: var(--white);
}

header .profile_infos p:nth-child(1) {
    font-weight: bold;
    font-size: var(--bigText);
}

header .buttons_wrapper {
    margin-left: auto;
}

header button {
    margin-right: 40px;
    padding: 20px 40px;
    border-radius: 10px;
    border: 2px solid var(--white);
    background: none;
    color: var(--white);
}

nav {
    background-color: orange;
    display: flex;
    justify-content: space-around;
}

nav a {
    flex: 1;
    border: none;
    text-decoration: none;
}

.navButton {
    border: 2px solid black;
    padding: 10px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.navButton:hover {
    background-color: var(--grey);
}

.navButton p {
    margin-left: 10px;
    color: var(--white);
    font-weight: bold;
}

/*ABOUT ME PAGE*/

.aboutMe_container {
    /*border: 2px solid red;*/
    width: 60%;
    margin: 20px auto;
    background-color: var(--white);
    border-radius: 10px;
    padding: 20px;
}

.aboutMe_container h1 {
    color: var(--titleColor);
    margin: 10px 0;
}

.aboutMe_container a{
    text-decoration: none;
    cursor: pointer;
}

.experience_card{
    /*border: 2px solid var(--titleColor);*/
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
}
.experience_card img {
    display: block;
    object-fit: contain;
    width: 100px;
    height: 100px;
}

.experience_info{
    margin-left: 20px;
}

.experience_info a{
   color: var(--mainTextColor);
}

.experience_info span{
    /*font-weight: bold;*/
    color: var(--titleColor);
}
.experience_info h3,h4{
    margin-top: 10px;
}

.experience_card p{
    margin-left: 10px;
}
.stack_container{
    /*border: 2px solid red;*/
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.stack_container div{
    /*border: 2px solid red;*/
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
}

.stack_container p {
    font-size: 0,8em;
}



